body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-text {
  color: #e1ecef;
  font-weight: 500;
  margin-top: 7px;
  padding: 3px;
  font-size: 17px;
  border: 1px solid rgb(202, 202, 223);
}

.header-span {
  color: gray;
  font-weight: 500;
  margin-top: 7px;
  font-size: 17px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.postName {
  color: '#F48FB1';
  font-size: 18px;
  margin: 0 0 0 4px;
  font-weight: 500;
}

.search-bar{
   border: 1px solid rgb(202, 202, 223);
   padding: 4px;
}

.bttn-search {
  background: rgb(201, 195, 195);
  border: none;
  cursor: pointer;
  outline: none;
  color: rgb(44, 42, 42);
}

.user-image {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  object-fit: cover; 
  margin-right: 10px; 
}



.search-form {
  position: relative;
}

.search-bar {
  padding-right: 40px; 
  border: 1px solid #ced4da;
  border-radius: 15px; 
}

.search-bar-btn {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


.search-bar-btn i {
  color: #495057; 
  font-size: 16px; 
}


